.header {
  @include section-layout;
  display: flex;
  padding: 11rem 1rem 0 1rem;

  @include respond(phone) {
    padding: 0 1rem 0 1rem;
  }

  &__text {
    max-width: 57.2rem;
    padding-top: 7rem;

    @include respond(phone) {
      padding-top: 1rem;
    }

    &-heading {
      font-size: 4.4rem;
      font-weight: 800;
      line-height: 1.4;
      margin-left: 0.6rem;
      padding-bottom: 5.5rem;
    }

    &-info {
      @include paragraph;
      padding: 0 0.75rem 4.7rem 0;
    }

    &-btn {
      width: 18rem;
      height: 5rem;

      @include respond(phone) {
        margin: 0 auto;
      }
    }
  }

  &__img {
    @include respond(phone) {
      display: none;
    }
  }
}

.portfolio {
  @include section-layout;

  &__heading {
    @include secondary-heading;
    padding: 12rem 0 7rem 0;

    @include respond(phone) {
      padding: 6rem 0 3rem 0;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    padding-bottom: 7rem;

    @include respond(phone) {
      flex-direction: column;
      padding-bottom: 3rem;
    }

    & > li:last-child {
      flex-grow: 10;
      text-align: end;
    }

    &-btn {
      height: 3rem;
      padding: 0 2rem;
      font-size: 1rem;
      font-weight: 600;

      &--active {
        background: $primary-color;

        &:hover {
          background: greenyellow;
        }
      }

      &--inactive {
        background: inherit;

        &:hover {
          background: gold;
        }
      }

      .newest-first-btn {
        display: flex;
      }

      .arrow-down {
        display: inline-block;
        position: relative;
        top: 0.2rem;
        transform: rotate(180deg);
        padding-right: 0.5rem;
        font-size: 1.2rem;
      }
    }
  }

  .portfolio-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;

    @include respond(tablet-portrait) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include respond(phone) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &-item-4,
    &-item-6 {
      position: relative;
      top: -40%;

      @include respond(tablet-portrait) {
        top: 0;
      }
    }
  }

  &__show-me-more {
    margin: 0 auto 7rem;
    width: 20rem;
    height: 5rem;

    @include respond(tablet-portrait) {
      margin: 7rem auto 7rem;
    }

    @include respond(phone) {
      margin: 3rem auto 3rem;
    }

    &-btn {
      width: 100%;
      height: 100%;
    }
  }
}

.partners-container {
  height: 30rem;
  background: $background-color;

  @include respond(phone) {
    height: 60rem;
  }

  .partners {
    @include section-layout;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
  }
}

.about {
  @include section-layout;

  &__heading {
    @include secondary-heading;
    padding: 13rem 0 7.5rem 0;

    @include respond(phone) {
      padding: 3rem 0 2.5rem 0;
    }
  }

  &__text {
    max-width: 54.5rem;
    @include paragraph;
    padding-bottom: 7.3rem;

    @include respond(tablet-portrait) {
      max-width: none;
      width: 100%;

      p {
        max-width: 80ch;
        text-align: center;
        margin: 0 auto;
      }
    }
  }

  &-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;

    @include respond(tablet-portrait) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
      grid-template-areas:
        "team-member-card-1 team-member-card-2"
        "about-info about-info";
    }

    @include respond(phone) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__item {
      max-width: 37rem;
      height: 42rem;
    }

    .team-member-card {
      &__info {
        width: 67.5%;
        height: 7rem;
        background: $primary-color;
        position: relative;
        bottom: -35rem;

        @include respond(phone) {
          width: 34rem;
        }

        & h3 {
          font-size: 1.2rem;
          font-weight: 800;
          padding-left: 3rem;
          position: relative;
          top: 1.6rem;
        }

        & p {
          color: #fff;
          font-size: 1.2rem;
          padding-left: 3rem;
          position: relative;
          top: 2.8rem;
        }
      }
    }

    .team-member-card:nth-child(1) {
      background: url(../../dist/img/team-member-1.webp);
      background-position: center;

      @include respond(tablet-portrait) {
        grid-area: team-member-card-1;
      }
    }
    .team-member-card:nth-child(2) {
      background: url(../../dist/img/team-member-2.webp);
      background-position: center;

      @include respond(tablet-portrait) {
        grid-area: team-member-card-2;
      }
    }

    .about-info {
      &__heading {
        padding-left: 6rem;
        padding-top: 11rem;
        font-size: 1.4rem;
        font-weight: 800;
      }

      &__text {
        padding-left: 5.5rem;
        padding-top: 4.8rem;
        padding-right: 7rem;
        @include paragraph;
      }

      &__read-more-btn {
        padding-left: 6rem;
        padding-top: 6rem;
        background: none;

        @include paragraph;
      }

      @include respond(tablet-portrait) {
        grid-area: about-info;
        width: 100%;
      }
    }
  }
}

.blog-container {
  background: $background-color;

  .blog {
    @include section-layout;

    &__heading {
      @include secondary-heading;
      padding: 24rem 0 6.8rem 0;

      @include respond(phone) {
        padding: 4rem 0 2.8rem 0;
      }
    }

    &__text {
      max-width: 54.5rem;
      @include paragraph;
      padding-bottom: 7.3rem;

      @include respond(tablet-portrait) {
        max-width: none;
        width: 100%;

        p {
          max-width: 80ch;
          text-align: center;
          margin: 0 auto;
        }
      }
    }

    &__grid {
      // display: flex;
      // flex-direction: row;
      // justify-content: space-between;
      display: grid;
      grid-template-columns: repeat(3, auto);
      gap: 3rem;

      @include respond(tablet-portrait) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        justify-content: center;
      }

      @include respond(phone) {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .blog-article {
        max-width: 37rem;

        &__heading {
          font-size: 1.2rem;
          font-weight: 800;
          padding: 3.5rem 0 0 3.3rem;
        }

        &__text,
        &__date {
          font-size: 1.2rem;
          font-weight: 700;
          line-height: 2rem;
          padding: 3.5rem 0 0 2.3rem;
        }

        &__date {
          padding-left: 3.3rem;
        }
      }
    }
  }
}

.contact {
  @include section-layout;

  &__heading {
    @include secondary-heading;
    padding: 25rem 0 7rem 0;

    @include respond(phone) {
      padding: 8rem 0 2.8rem 0;
    }
  }

  &__text {
    max-width: 54.5rem;
    @include paragraph;
    padding-bottom: 7.3rem;

    @include respond(tablet-portrait) {
      max-width: none;
      width: 100%;

      p {
        max-width: 80ch;
        text-align: center;
        margin: 0 auto;
      }
    }
  }

  &__form-container {
    display: flex;

    .contact-form {
      max-width: 57rem;

      label {
        display: none;
      }

      @include respond(tablet-portrait) {
        margin: 0 auto;
      }

      &__heading {
        font-size: 2.1rem;
        font-weight: 900;

        @include respond(tablet-portrait) {
          text-align: center;
        }
      }

      &__textarea {
        width: 95%;
        outline: none;
        border: none;
        padding: 1.8rem;
        background-color: $background-color;
        resize: none;

        @include respond(tablet-portrait) {
          width: 100%;
        }

        &::placeholder {
          color: #000;
          font-size: 1.2rem;
          font-weight: 700;
        }
      }

      &__send-msg-btn {
        margin-top: 1.2rem;
        width: 17rem;
        height: 5rem;

        @include respond(tablet-portrait) {
          margin: 1.2rem auto 0 auto;
          display: block;
        }
      }
    }

    .contact__img {
      @include respond(tablet-portrait) {
        display: none;
      }
    }
  }

  &__info {
    max-width: 63.5rem;
    margin: 7rem auto 7.8rem auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;

    @include respond(tablet-portrait) {
      justify-content: space-around;
    }

    @include respond(phone) {
      flex-direction: column;
      margin: 5rem auto 3.8rem auto;

      &-address,
      &-telephone,
      &-email {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
      }
    }

    &-address i,
    &-telephone i,
    &-email i {
      margin-bottom: 3rem;
      font-size: 2.4rem;
      // color: $primary-color;

      @include respond(phone) {
        margin: 0 2rem 0 2rem;
      }
    }

    &-address > p:nth-child(2) {
      @include respond(phone) {
        margin-right: 0.5rem;
      }
    }

    &-telephone > p:nth-child(2) {
      @include respond(phone) {
        margin-right: 2rem;
      }
    }
  }

  &__social-media {
    width: 20.7rem;
    margin: 0 auto;
    padding-bottom: 7.5rem;
    display: flex;
    justify-content: space-between;
    font-size: 2.4rem;

    @include respond(phone) {
      padding-bottom: 5.5rem;
    }
  }
}

@include respond(tablet-portrait) {
  h2 {
    text-align: center;
  }
}
