.footer-container {
  height: 18rem;
  background: #1e1e1e;
  color: #fffafa;

  .footer {
    @include section-layout;
    height: 18rem;
    display: grid;
    grid-template-columns: 9rem repeat(2, auto);
    justify-items: start;
    align-items: center;

    @media (max-width: 500px) {
      display: flex;
      justify-content: space-around;
    }

    &__text {
      padding: 0 2.9rem 0 2rem;
      font-size: 1.2rem;
      font-weight: 500;

      @media (max-width: 500px) {
        padding: 0 1rem;
      }
    }

    &__back-to-top-link {
      justify-self: end;
      max-width: 10rem;
      font-size: 1.2rem;
      font-weight: 500;

      @media (max-width: 500px) {
        display: none;
      }

      &-container {
        display: flex;
        align-items: center;

        .arrow-up {
          font-size: 1.3rem;
          margin-left: 0.5rem;
        }
      }
    }
  }
}
